/*============
Page variables
==============*/

:root {
  /*color scheme*/
  --primary_col: hsl(264, 71%, 28%); /*purple - fallback #3D157A*/
  --dark_col: hsl(210, 11%, 15%); /*darkgrey - fallback #212529*/
  --light_col: hsl(210, 17%, 98%); /*white - fallback #f8f9fa*/

  /*fonts*/
  --header_font: "Limelight", "Arial Black", cursive;
  --text_font: "Roboto", Verdana, sans-serif;

  /*margins and paddings*/
  --wide_space: 1rem;
  --middle_space: 0.5rem;
  --narrow_space: 0.25rem;

  /*borders*/
  --thick_line: 0.8rem;
  --medium_line: 0.4rem;
  --thin_line: 0.2rem;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*reset default font - never shall Time New Roman be seen again!*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
figcaption {
  font-family: Verdana, sans-serif;
}

/*================
Page Layout 
=================*/

/*single column layout for mobile first design then split to two column layout for larger screen sizes*/
#container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/*=====
Header 
=======*/
#top {
  grid-area: header;
  border: solid var(--thick_line) #000;
  background-color: var(--primary_col);
  background-image: radial-gradient(
    hsl(264, 71%, 28%),
    hsl(264, 82%, 57%),
    hsl(264, 71%, 28%)
  );
}

#top h1 {
  margin: var(--wide_space);
  text-align: center;
  color: var(--light_col);
  font-family: var(--header_font);
  font-size: clamp(1.6rem, 3rem, 4.4rem);
  line-height: 1.5;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

/*=======
Nav Menu
=========*/
nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  list-style: none;
}

nav ul li {
  flex: 1;
  margin: var(--narrow_space) var(--wide_space);
  border: solid var(--medium_line) var(--primary_col);
  box-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  padding: var(--middle_space);
  text-decoration: none;
  text-align: center;
  font-family: var(--text_font);
  font-size: clamp(0.8rem, 1.6rem, 2.5rem);
  font-weight: bold;
  letter-spacing: 2px;
  color: currentColor;
  box-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

nav ul li a:hover {
  background-color: var(--primary_col);
  box-shadow: none;
}
/*==========================
Main and Section containers
===========================*/
main {
  grid-area: main;
  min-width: 100%;
}

section {
  margin-bottom: var(--middle_space);
}

section header {
  margin-bottom: var(--middle_space);
}

section header h2 {
  padding: var(--middle_space) var(--wide_space);
  margin: var(--middle_space) 0;
  border: var(--medium_line) solid var(--primary_col);
  box-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
  background-color: #000;
  color: #fff;
  font-family: var(--text_font);
  font-size: clamp(1.2rem, 2rem, 2.8rem);
  line-height: 1.5;
  letter-spacing: 2px;
}

section div {
  margin: 0 var(--middle_space);
}

section p {
  padding-bottom: var(--narrow_space);
  font-family: var(--text_font);
  font-size: clamp(0.8rem, 1.2rem, 1.6rem);
  line-height: 1.5;
}

/*position for back-to-top shortcut*/
section,
section .subsection_box {
  position: relative;
}

.text_box p {
  border-left: var(--medium_line) double var(--primary_col);
  padding: var(--middle_space);
  margin: var(--middle_space) 0;
}

.code_box {
  margin: var(--wide_space);
  padding: var(--wide_space);
  border: 1px solid var(--primary_col);
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 2px var(--primary_col);
  font-size: clamp(1rem, 1.2em, 1.4rem);
  word-wrap: break-word;
}

/*highlight code keywords within text block*/
.code_word,
.code_box_comment {
  font-style: italic;
}
.sub_header {
  margin: var(--middle_space) 0;
}

.sub_header h3 {
  padding: var(--middle_space);
  border: var(--thin_line) solid #000;
  box-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
  background-color: var(--primary_col);
  color: #fff;
  font-family: var(--text_font);
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
  line-height: 1.5;
  letter-spacing: 2px;
}

/*secondary nav menu with image gallery*/
#gallery {
  margin: var(--wide_space) var(--middle_space);
}

#gallery ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

#gallery li {
  list-style: none;
  margin: var(--narrow_space);
}

#gallery li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: var(--thin_line) solid #000;
}

/*secondary nav menu of text links*/
.sub_nav {
  margin: 0 var(--middle_space);
}

.sub_nav li {
  margin: var(--middle_space);
  border-left: var(--medium_line) solid var(--primary_col);
  list-style: none;
}

.sub_nav li:hover {
  border-left: var(--medium_line) solid #000;
  background-color: var(--primary_col);
  color: #fff;
}

.sub_nav li a {
  display: inline-block;
  width: 100%;
  padding: var(--middle_space);
  text-decoration: none;
  font-family: var(--text_font);
  font-size: clamp(0.8rem, 1.4rem, 1.8rem);
  color: currentColor;
}

/*figures and captions for image examples*/
figure {
  display: flex;
  flex-direction: column;
  padding: var(--wide_space);
}

figure figcaption {
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  text-align: center;
  font-style: italic;
}

figure img {
  align-self: center;
  margin: var(--middle_space);
  border: var(--thin_line) solid #000;
  box-shadow: 0 0 5px #000, 1px 1px 10px var(--primary_col);
}

/*===================
Filter Image Examples
====================*/

/*blur*/
#blur_img img,
#gallery li a[href*="blur"] img {
  filter: blur(5px);
}

/*brightness*/
#brightness_img img,
#gallery li a[href*="brightness"] img {
  filter: brightness(0.5);
}

/*contrast*/
#contrast_img img,
#gallery li a[href*="contrast"] img {
  filter: contrast(200%);
}

/*drop-shadow*/
#shadow_img img,
#gallery li a[href*="shadow"] img {
  filter: drop-shadow(5px 5px 20px white);
}

/*grayscale*/
#grayscale_img img,
#gallery li a[href*="grayscale"] img {
  filter: grayscale(100%);
}

/*hue-rotate*/
#hue_img img,
#gallery li a[href*="hue"] img {
  filter: hue-rotate(90deg);
}

/*invert*/
#invert_img img,
#gallery li a[href*="invert"] img {
  filter: invert(75%);
}

/*saturate*/
#saturate_img img,
#gallery li a[href*="saturate"] img {
  filter: saturate(200%);
}

/*opacity*/
#opacity_img img,
#gallery li a[href*="opacity"] img {
  filter: opacity(25%);
}

/*sepia*/
#sepia_img img,
#gallery li a[href*="sepia"] img {
  filter: sepia(65%);
}

/*=====================
Clipped Image Examples
======================*/

#sect_clipping figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  margin: var(--narrow_space) auto;
  background-color: var(--primary_col);
  border: var(--thin_line) solid #000;
}

/*inset*/
#inset_img img {
  clip-path: inset(100px 50px);
}

/*circle*/
#circle_img img {
  clip-path: circle(50px at 125px 100px);
}

/*ellipse*/
#ellipse_img img {
  clip-path: ellipse(50px 120px at 50% 50%);
}

/*polygon*/
#polygon_img img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*path*/
#path_img img {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

#sect_clip_box figure img {
  margin: var(--middle_space);
  padding: var(--middle_space);
  border: var(--middle_space) solid #000;
}
/*margin-box*/
#margin_img img {
  clip-path: margin-box;
}

/*border-box*/
#border_img img {
  clip-path: border-box;
}

/*padding-box*/
#padding_img img {
  clip-path: padding-box;
}

/*content-box*/
#content_img img {
  clip-path: content-box;
}

/*fill-box*/
#fill_img img {
  clip-path: fill-box;
}

/*stroke-box*/
#stroke_img img {
  clip-path: stroke-box;
}

/*view-box*/
#view_img img {
  clip-path: view-box;
}

/*====
Footer
=======*/
footer {
  grid-area: footer;
  border: var(--thin_line) solid #000;
  border-top: var(--thick_line) solid #000;
  background-color: var(--primary_col);
  color: #fff;
}
footer #about {
  padding: var(--middle_space);
}

footer #about p {
  margin: var(--middle_space) 0;
}
footer #about ul {
  list-style: none;
}

footer #about ul li {
  margin: var(--wide_space);
  padding-left: var(--middle_space);
  border-left: var(--thin_line) solid #fff;
}

footer #about ul li a {
  color: inherit;
  text-decoration: none;
}

footer #about ul li:hover a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

footer #made_by_me {
  padding: var(--middle_space);
  background-color: #000;
  text-align: center;
}

footer #made_by_me ul {
  display: flex;
  flex-flow: row nowwrap;
  justify-content: center;
  list-style: none;
}

footer #made_by_me ul li {
  margin: var(--middle_space);
}

footer #made_by_me ul li a {
  color: inherit;
  font-size: clamp(1.2rem, 1.6rem, 1.8rem);
}

footer #made_by_me ul li a:hover,
footer #made_by_me ul li a:focus,
footer #made_by_me ul li a:active {
  color: var(--primary_col);
}
/*================
  The little touches
  =================*/

/*Back to top*/
.backtotop {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
}

.backtotop a:link,
.backtotop a:hover,
.backtotop a:active,
.backtotop a:visited {
  color: var(--body-col);
}

/*================
  Responsivesnness
  ==================*/

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-flow: row nowrap;
  }

  footer #about {
    flex: 2;
  }

  footer #made_by_me {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*=============
  Accessibility
  ===============*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-col, #212529);
    color: var(--light-col, #f8f9fa);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-col, #f8f9fa);
    color: var(--dark-col, #212529);
  }
}

/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* animation styles go here */
}

/*======================
  Ye Olde Time Print View
  ========================*/
@media print {
  /*remove unneeded elements*/

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
